form {
  border: 2px solid black;
  padding: 10px;
  margin: 0 auto;
  width: 500px;
  height: 525px;
  border-radius: 50px;
  border-color: white;
  background-color: white;
}

input, textarea {
  margin-left: 30%;
  margin-top: 15px;
  border-radius: 20px;
  padding: 5px;
  background-color: #E9EFF6;
  border-color: white;
  border-width: 0;
  padding-left: 18px;
  line-height: 20px;
  width: 200px;
}

input:first-child {
  margin-top: 50px;
}

body {
  background-color: #EFC64C;
}

.button {
  background-color: #EFC64C;
  color: white;
  margin-left: 155px;
  line-height: 25px;
  width: 215px;
  border-bottom: 4px solid #B78F24;
}

textarea {
  resize: none;
  color: #707981;
}

#checkbox {
  margin-left: 155px;
  width: 15px;
}